<mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Formulario de Ejemplo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
              <label for="input1" class="form-label">Input 1</label>
              <input type="text" class="form-control" id="input1" placeholder="Input 1">
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
              <label for="input2" class="form-label">Input 2</label>
              <input type="text" class="form-control" id="input2" placeholder="Input 2">
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
              <label for="input3" class="form-label">Input 3</label>
              <input type="text" class="form-control" id="input3" placeholder="Input 3">
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
              <label for="input4" class="form-label">Input 4</label>
              <input type="text" class="form-control" id="input4" placeholder="Input 4">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
              <label for="input5" class="form-label">Input 5</label>
              <input type="text" class="form-control" id="input5" placeholder="Input 5">
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
              <label for="input6" class="form-label">Input 6</label>
              <input type="text" class="form-control" id="input6" placeholder="Input 6">
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
              <label for="input7" class="form-label">Input 7</label>
              <input type="text" class="form-control" id="input7" placeholder="Input 7">
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
              <label for="input8" class="form-label">Input 8</label>
              <input type="text" class="form-control" id="input8" placeholder="Input 8">
            </div>
          </div>
          <div class="row">
            <div class="col text-end">
              <button type="button" class="btn btn-secondary">Limpiar</button>
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <h1>EVENTOS</h1>
  <div>
    <!-- Este div mostrará la fecha cuando el usuario haga clic en el botón -->
    <div id="seleccionable">{{ fecha }}</div>
  
    <!-- Botón que dispara la acción mostrar() -->
    <button (click)="mostrar()">Mostrar Fecha</button>
  </div>